@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=cyrillic,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=cyrillic-ext,latin-ext,vietnamese');
a, button, input {
    transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    outline: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.3; }
.row { margin-right: -10px; margin-left: -10px; }
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding-left: 10px; padding-right: 10px; }

/*loading-1*/
.loading {  width: 100%; height: 100%; background: #fff; position: fixed; z-index: 9999; top: 0; left: 0; }
.spinner {     top: 50%;margin: -20px auto 0 auto; width: 40px; height: 40px; position: relative; text-align: center; -webkit-animation: sk-rotate 2.0s infinite linear; animation: sk-rotate 2.0s infinite linear;}
.dot1, .dot2 {width: 60%;height: 60%; display: inline-block; position: absolute; top: 0;background-color: #e32c24; border-radius: 100%; -webkit-animation: sk-bounce 2.0s infinite ease-in-out; animation: sk-bounce 2.0s infinite ease-in-out;}
.dot2 { top: auto; bottom: 0;-webkit-animation-delay: -1.0s; animation-delay: -1.0s;}
@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes sk-bounce {  0%, 1v00% { -webkit-transform: scale(0.0) } 50% { -webkit-transform: scale(1.0) }}
@keyframes sk-bounce { 0%, 100% {   transform: scale(0.0);  -webkit-transform: scale(0.0);} 50% {   transform: scale(1.0);  -webkit-transform: scale(1.0);}}
@keyframes pulsate { 0% {  transform: scale(.1);    opacity: 0.0;  }50% {  opacity: 1;  } 100% { transform: scale(1.2);opacity: 0;}}
/*end loading-1*/

body { font-family: 'Roboto', sans-serif; color: #000;  font-size: 14px;}
.a { font-family: 'Playfair Display', serif; }
img { display: inline-block; max-width: 100%; }
strong, b { font-weight: 500; }
a, input ,a:focus , input:focus, button, button:focus { outline: none!important; }
.form-control:focus {     border-color: #ebebeb; box-shadow: none; }
.form-control.select-2:focus  { border-color: #ccc; background: #ddd; }
a:hover { color: #c72928; text-decoration: none; }


 @media screen and (min-width: 1280px){
  .container {
    max-width: 1220px!important;
  }
 }
 

/*new style*/


.avatar-upload {
  position: relative;
  max-width: 182px;
  height: 102px;
  /* margin: 10px 0; */
  float: left;
  border: dashed 1px #002157;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 180px;
  height: 100px;
  position: relative;
  /* border: 6px solid #F8F8F8; */
  /* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1); */
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*art-login*/
.art-login {font-size: 14px;min-height: 100vh;background-image: linear-gradient(to top, #242366, #2d2b73, #353480, #3d3c8d, #46459b);display: flex;text-align: center;padding-top:  30px;padding-bottom: 30px;}
.art-login .inner { max-width: 710px; width: 100%; margin: auto; background: #fff; border-radius: 5px; }
.art-login .logo-1 { max-width: 360px; margin: 0 auto; display: block; width: 100%; }
.art-login header { margin-top: 50px; }
.art-login footer { background: #eee; padding: 15px 0; font-size: 13px; color: #999; }
.art-login footer p:first-child { max-width: 510px; width: 100%; margin: 0 auto 20px auto; }
.art-login footer p:nth-child(2) { max-width: 370px; width: 100%; margin: 0 auto 20px auto; }
.art-login footer p span { display: block; }
.art-login footer p span.bold { font-weight: 900; }
.art-login footer ul { margin-bottom: 0; list-style: none; padding-left: 0;}
.art-login footer ul li { list-style: none; display: inline-block; } 
.art-login footer ul li a { color: #999; }
/*title*/
.title { font-weight: 700; margin-bottom: 50px; text-align: center;  margin-top: 40px; }
.title h4 { color: #bbb; font-size: 21px; font-weight: 700;}
.title h2 { color: #000; font-size: 30px; text-transform: uppercase;font-weight: 900;}

/*frm-general*/
.frm-general { font-size: 14px; }
.frm-general img { width: 100%; }
.frm-general .form-control { height: 40px; border-color: #ccc; color: #999; border-radius: 20px; padding-left: 20px; padding-right: 20px; font-size: 14px;  }
.frm-general .form-control.txt-des { min-height: 100px; resize: none; border-radius: 5px; }
.frm-login { width: 100%; max-width: 360px; margin: 0 auto;  }
.frm-login .btn-general { width: 100%; }
.note { font-size: 13px; color: #000; }

.frm-general label { font-weight: 500; display: block; }
.frm-general label span { color: #999; display: inline-block; margin-left: 20px; }

.frm-general .form-check .form-check-label { color: #999; }


/*btn-general*/
.btn-general { cursor: pointer; vertical-align: middle; height: 40px; line-height: 40px; border: 0; margin: 0; background: #FF9800; color: #fff; font-weight: 700; text-align: center; padding: 0 35px; border-radius: 20px; font-size: 14px; display: inline-block; }
.btn-general:hover { color: #fff; text-decoration: none; background: #d9414a; }


.btn-gray { background: #eee; color: #999; }


.btn-style { cursor: pointer; vertical-align: middle; height: 30px; line-height: 30px; border: 0; margin: 0; background: #eee; color: #999; font-weight: 700; text-align: center; min-width: 90px; padding: 0 15px; border-radius: 15px; font-size: 13px; display: inline-block; }
.btn-style:hover { color: #fff; text-decoration: none; background: #FF9800; }
/*outer-tool*/
.outer-tool { overflow: hidden; margin-top: 16px; }
.outer-tool .form-check { float: left; margin-bottom: 0; }
.outer-tool .forgot { float: right; color: #009EE5; }

/*structure*/
.main { min-height: calc(100vh - 217px); overflow: hidden; padding-bottom: 50px; }
.header { padding: 15px 0 5px 0; border-bottom: solid 1px #707070; overflow: hidden; }
.header .logo { float: left; width: 250px; }
.footer { background: #F0F0F0; padding: 25px 0; color: #999;font-size: 13px;}



.list-menu { float: right; margin-bottom: 0; margin-top: 2px; }
.list-menu li { display: inline-block; margin-left: 5px; }
.list-menu li a { display: block; height: 34px; line-height: 34px; background: #eee; color: #999; padding-left: 17px; padding-right: 17px; border-radius: 17px; font-size: 12px; font-weight: 500; }
.list-menu li a:hover { background: #FF9800; color: #fff; text-decoration: none;}

.box { max-width: 790px; width: 100%; margin: 0 auto; }
.box h1 { overflow: hidden; font-size: 21px; margin-bottom: 20px; }
.box h1 span { float: left; margin-top: 3px; }
.box h1 .btn-general { float: right; }

.art-project { display: flex; border-radius: 5px; box-shadow: 0 0 4px #ccc; }
.art-project > a { width: 182px; }
.art-project .last-project { width: 200px; border-left: 1px solid #eee; text-align: center; padding: 10px;}
.art-project .last-project span { font-size: 12px; color: #999; margin-bottom: 5px; display: block;}
.art-project .last-project p { font-size: 16px; color: #000; font-weight: 700; margin-bottom: 5px;}
.art-project .last-project .btn-style { width: 100%; }
.art-project .mid-project {  flex-grow: 1; padding: 10px;}
.art-project .mid-project .top { display: flex; }
.art-project .mid-project .top h2 { font-size: 17px; color: #000; width: 70%; text-align: left;}
.art-project .mid-project .top h2 span { font-size: 12px; display: block; margin-bottom: 6px; }
.art-project .mid-project .top span.status { text-align: right;  flex-grow: 1; font-weight: 500; }
.art-project .mid-project .top span.status.running { color: #00E676;  }
.art-project .mid-project .top span.status.waiting { color: #FF9800;  }
.art-project .mid-project .top span.status.ending { color: #999;  }
.art-project .mid-project .bottom { display: flex; }
.art-project .mid-project .bottom .view-page { color: #009EE5; font-weight: 500; }
.art-project .mid-project .bottom .inner-right { width: 200px; text-align: right; }
.art-project .mid-project .bottom .view-page { flex-grow: 1; line-height: 30px; }


.top-footer { overflow: hidden; padding-bottom: 5px; border-bottom: solid 1px #DFDFDF; margin-bottom: 20px;}
.top-footer p { float: right; text-align: right;}
.top-footer p:first-child { float: left; text-align: left; }
.bottom-footer p { margin-bottom: 0;  }
.bottom-footer p a { color: #999; margin: 0 2px; }
.bottom-footer p a:hover { color: #d9414a; }

.sidebar { padding-left: 10px; padding-right: 10px; width: 182px;  }
.content { padding-left: 10px; padding-right: 10px; width: 182px; flex-grow: 1; }

.list-bar { list-style: none; margin-bottom: 0; padding-left: 0; }
.list-bar li { margin: 0; margin-bottom: 2px; }
.list-bar li a { height: 44px; line-height: 44px; color: #999; background: #eee; display: block; padding: 0 15px; font-weight: 500; border-radius: 5px;}
.list-bar li.active a, .list-bar li a:hover { color: #fff; background: #FF9800; }
.list-bar li:last-child { margin-top: 16px; }

.overflow { overflow: hidden; }
.overflow .right { float: right; color: #999;}
.overflow .right span { color: #000; }
.exp { color: #999; margin-top: 5px; display: block; }
.datetimepicker { position: relative; }
.datetimepicker input { padding-right: 20px; border-radius: 20px!important;}
.datetimepicker .input-group-addon { position: absolute; right: 0; top: 0; width: 40px; height: 40px; line-height: 40px; text-align: center; display: block; }


.inner-position { position: relative; }
.inner-position span { position: absolute; right: 1px; top: 1px; width: 50px; height: 38px; line-height: 38px; text-align: center; font-weight: 500; background: #fff; border-radius: 19px; }
.inner-money { position: relative; }
.inner-money select { position: absolute; right: 1px; top: 1px; width: 80px; text-align: center; height: 38px; line-height: 38px; font-weight: 500; background: #fff; border-radius: 19px; padding-left: 15px; border: none; border-left: 1px solid #ced4da; border-top-left-radius: 0;  border-bottom-left-radius: 0;}

.inner-btn { overflow: hidden; }
.inner-btn .btn-general { float: right; }
.inner-btn .btn-gray { float: left; }
.up-logo .inner { overflow: hidden; }
.noted-logo { float: right; height: 102px; display: flex; padding:  20px; background: #FFFBC9; width: 283px; margin-bottom: 0; }
.noted-logo span { margin: auto; }

.layer-add { margin-bottom: 20px; text-align: right; padding-top: 1rem; border-top: 1px solid #eee;  }

.btn-gray.margin20 { margin-top: 30px; width: 100%; }
/*map*/
.map { position: relative; height: 0; width: 100%; padding-bottom: 40%; }
.map iframe { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  }

.note { color: #999; margin-top: 1rem; }

.form-check-1 { margin-top: 10px; }


.row-style { margin-right: -5px; margin-left: -5px; }
.row-style .col , .row-style .col-sm-1, .row-style .col-sm-2{ padding-left: 5px; padding-right: 5px; }
.datetimepicker .input-group-addon { cursor: pointer; z-index: 99;}
.btn-full { width: 100%; }

.upload-img { overflow: hidden; margin-bottom: 20px; display: flex;}
.upload-img .noted-logo { height: auto; margin-top: 53px; }
.noted-img { display: block; margin-bottom: 10px; }
.upload-img label { margin-bottom: 0px; }

.dropzone {
    background: white;
    border-radius: 5px;
    border: 1px dashed #ddd;
    border-image: none;
   width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.inner-upload { width: 10px; flex-grow: 1; padding: 0 20px 0 0 ; }
.dropzone { padding: 0; }
.dropzone .dz-message { display: none; }
.dropzone .dz-preview .dz-image { width: 160px; height: 90px; border-radius: 0; }
.dropzone .dz-preview { min-height: 90px; }

.btn-top{ display: none; }
@media screen and (max-width: 992px) {
  .art-login { padding: 15px; height: auto; }
  .art-login .inner { padding: 0 15px; }
  .art-project > a { width: 100%; clear: both; }
  .art-project { display: block; margin-bottom: 20px; overflow: hidden; }
  .art-project .mid-project { float:  left; width: 60%; }
  .art-project .last-project { float: right; width: 40%; }
  .frm-general .row .col {     -ms-flex: 0 0 50%; flex: 0 0 50%; max-width: 50%;}
}
@media screen and (max-width: 767px) {
  .list-bar li:last-child { margin-top: 2px; }
  .art-login .inner { padding: 0 15px; }
  .art-login footer { padding: 15px; margin-bottom: 15px;}
  .art-login header { margin-top: 15px; }
  .title { margin: 15px 0; }
  .art-login .logo-1 { max-width: 80% }
  .title h4 { font-size: 18px; }
  .title h2 { font-size: 20px; }

  .art-project .mid-project { float:  none; width: 100%; }
  .art-project .last-project { float: none; width: 100%; border-left: 0; border-top: solid 1px #ddd;  }
  .art-project .last-project .btn-style { width: auto; }
  .header .logo { width: 230px; }
  .list-menu { margin-top: 0; }

.sidebar { box-shadow: 0 0 2px #ddd; position: fixed;right: -330px;top: 0;z-index: 998;padding: 0;background: #fff; width: 320px; height: 100vh;     transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -webkit-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;}
.menu { z-index: 999;  height: 40px;line-height: 40px;width: 40px;background:#ccc;color: #000;right: 15px;bottom: 50px;position: fixed;text-align: center;border-radius: 50%;}
.menu:after { content: "\f0c9" ; font-family: "FontAwesome"; }
.menu:hover { background: #FF9800; }
.show .menu { content: "\f00d";background: #FF9800; }
.show .menu:after { content: "\f00d" ; font-family: "FontAwesome"; }
.list-bar li a { border-radius: 0; }
.show .sidebar { right: 0; }
.exp { overflow: hidden; }
.top-footer p , .bottom-footer p{ text-align: center!important; }
.avatar-upload { margin-bottom: 20px; }
.noted-logo { width: 100%; }
.frm-general .row .col, .frm-general .row .col-4 , .frm-general .row .col-6 ,.frm-general .row .col-8, .frm-general .row .col-sm-1, .frm-general .row .col-sm-2, .frm-general .row .col-sm-3, .frm-general .row .col-sm-4, .frm-general .row .col-sm-5, .frm-general .row .col-sm-6, .frm-general .row .col-sm-7, .frm-general .row .col-sm-8, .frm-general .row .col-sm-9, .frm-general .row .col-sm-10, .frm-general .row .col-sm-11, .frm-general .row .col-sm-12 { -ms-flex: 0 0 100%;  flex: 0 0 100%;  max-width: 100%;}
.upload-img { display: block; }
.upload-img .inner-upload { width: 100%;  }
.upload-img .noted-logo { margin-top: 20px; }
.frm-general .btn-gray.margin20 { margin-top: 0; }

}
@media screen and (max-width: 480px) {
  .list-menu { padding-left: 0; }
    .list-menu li a { width: 34px; overflow: hidden; text-indent: -999px; position: relative; background: none;}
    .list-menu li a:after { position: absolute; left: 50%; top: 50%;  font-size: 14px; width: 34px; height: 34px; margin-top: -17px; margin-left: -17px; content: ""; }
    .list-menu li:first-child a:after { background: url(../images/user.png) 0 0 no-repeat; background-size: cover;  }
     .list-menu li:nth-child(2) a:after { background: url(../images/logout.png) 0 0 no-repeat; background-size: cover;  width: 30px; height: 30px; margin-top: -15px; margin-left: -15px;}
    .header .logo { width: 200px; }
}
@media screen and (max-width: 360px) {
    .art-project .mid-project .bottom .view-page { font-size: 10px; }
    .frm-general .row .col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}
@media screen and (max-width: 320px) {
    .header .logo { width: 170px; }
}